# React Native
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android
android/app/build/
android/.gradle/
android/local.properties
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/app/debug.keystore

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/Podfile.lock

# Metro
.metro-health-check*

# Misc
.DS_Store
*.log
.env
.env.*
coverage/
